/* src/components/Navigation.module.css */
.nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    color: white;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}

/* Медіа-запит для мобільних пристроїв */
@media (max-width: 768px) {
    .nav ul {
        display: none; /* Сховати меню на малих екранах */
        flex-direction: column; /* Вертикальне розташування елементів */
        width: 100%; /* Розтягнути меню на весь екран */
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        z-index: 10;
    }

    .nav ul li {
        margin: 10px 0;
    }

    .nav ul li a {
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .nav.open ul {
        display: flex; /* Показати меню при відкритті */
    }
}

.menuButton {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
}

@media (max-width: 768px) {
    .menuButton {
        display: block; /* Показати кнопку на мобільних пристроях */
    }
}
